<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HattmakarenWebbAppGrupp03</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HattmakarenWebbAppGrupp03.styles.css" asp-append-version="true" />
</head>
<body>
 
    @{
        int? currentAccessLevel = Context.Session.GetInt32("AccessLevel");
        int? currentEmployeeId = Context.Session.GetInt32("EmployeeId");
        bool isAdmin = currentAccessLevel != null && currentAccessLevel >= 10;
		bool isLoggedIn = currentEmployeeId != null;
    }

    @if (isLoggedIn){

    <div id="sidebar" class="sidebar">
        <button class="button meny-btn" id="menuToggle">
            ☰
        </button>

        <ul class="nav flex-column">

            <h3>Meny</h3>

            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Home" asp-action="Index">
                    <span class="menu-text">Hem</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Order" asp-action="Create">
                    <span class="menu-text">Lägg ny kundorder</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Customer" asp-action="Create">
                    <span class="menu-text">Registrera kund</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Order" asp-action="Index">
                    <span class="menu-text">Ordrar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Hat" asp-action="Index">
                    <span class="menu-text">Hattar</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Statistics" asp-action="Index">
                    <span class="menu-text">Statistics</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Schedule" asp-action="Index">
                    <span class="menu-text">Schema</span>
                </a>
            </li>

                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="CustomActivity" asp-action="Index">
                        <span class="menu-text">Arbetsuppgifter</span>
                    </a>
                </li>

            <li class="nav-item">
                <a class="nav-link text-white" asp-controller="Employee" asp-action="Index">
                    <span class="menu-text">Alla användare</span>
                </a>
            </li>

                <li class="nav-item">
                    <a class="nav-link text-white"
                       asp-controller="Employee"
                       asp-action="View"
                       asp-route-id="@currentEmployeeId">
                        <span class="menu-text">Min profil</span>
                    </a>
                </li>

                
                    <li class="nav-item">
                        @await Component.InvokeAsync("UnreadMessages")
                    </li>
              

            <li class="nav-item">
                <a asp-controller="Auth" asp-action="Logout" class="nav-link text-white">
                    <span class="menu-text">Logga ut</span>
                </a>
            </li>


            @if (isAdmin)
            {
                <h3>Admin</h3>

                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Employee" asp-action="Create">
                        <span class="menu-text">Skapa användare</span>
                    </a>
                </li>
            }

        </ul>
    </div>

    }





    <div id="content" class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
