@model int

<a asp-controller="Messages"
   asp-action="Index"
   class="nav-link text-white position-relative pe-5">
    <span class="menu-text">Messages</span>

    @if (Model > 0)
    {
        <span class="position-absolute top-50 end-0 translate-middle-y badge rounded-pill bg-danger me-2">
            @Model
        </span>
    }
</a>